@import "mediaQuery";

.landing {
    width: 100%;

    &__header {
        padding: 8rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;

        $margin: 23rem;
        &__section-title {
            @include mediaQuery($desktop) {
                margin-left: $margin;
            }
        }

        &__section-hero {
            display: flex;
            justify-content: center;

            @include mediaQuery($desktop) {
                justify-content: flex-end;
                margin-right: $margin;
            }
        }

        &__hero {
            display: inline-block;
            height: 50rem;
        }

        &__title {
            font-size: 4.5rem;
            font-weight: 700;

            margin: 4rem 0 2rem;
        }

        &__sub-title {
            font-size: 2.5rem;
            font-weight: 500;
            color: var(--sub-title);

            margin-bottom: 6rem;
        }

        &__cta {
            background-image: linear-gradient(
                to right,
                rgb(0, 183, 255),
                rgb(255, 0, 242)
            );
            color: white;
            font-size: 1.9rem;
            font-weight: 500;

            padding: 1.5rem 2.5rem;
            border-radius: 1rem;

            transition: all 0.2s;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
            }

            &:hover {
                background-image: linear-gradient(
                    to right,
                    darken(rgb(0, 183, 255), 10%),
                    darken(rgb(255, 0, 242), 10%)
                );
            }
        }
    }

    &__projects {
        padding: 0 8rem;
        margin-top: 10rem;

        display: flex;
        flex-direction: column;

        &__header {
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;

            background-image: linear-gradient(
                to right,
                rgb(0, 183, 255),
                rgb(255, 0, 242)
            );
            color: transparent;
            background-clip: text;
        }

        &__link {
            align-self: center;

            color: #7510f7;

            &:link,
            &:visited,
            &:hover,
            &:active {
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.projects-grid {
    max-width: 1300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin: 5rem auto;
}
