@import "variables";
@import "mediaQuery";

.contact {
    padding: 8rem;

    @include mediaQuery($phone) {
        padding: 4rem;
    }

    @include mediaQuery($phone-md) {
        padding: 2.5rem;
    }

    &__header {
        font-size: 4rem;
        font-weight: 300;
        text-align: center;

        @include mediaQuery($phone-sm) {
            font-size: 3.5rem;
            margin-top: 2.5rem;
        }
    }

    &__form {
        max-width: 60rem;
        margin: 10rem auto 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;

        @include mediaQuery($tablet) {
            width: 100%;
        }

        @include mediaQuery($phone) {
            grid-template-columns: 1fr;
            margin: 5rem auto 0;
        }

        &__section {
            display: flex;
            flex-direction: column;
        }

        &__label {
            color: var(--sub-title);
            margin-bottom: 0.4rem;
            color: $sub-title;
        }

        &__input {
            width: 100%;
            padding: 1rem 1.5rem;
            font-size: 1.8rem;
            font-family: "Inter", sans-serif;

            outline: none;
            border-radius: 0;
            border: 1px solid rgb(116, 116, 116);

            background-color: var(--background);
            color: var(--title);
        }

        &__select {
            grid-column: 1 / -1;
        }

        &__text-area-section {
            grid-column: 1 / -1;

            &__text-area {
                resize: vertical;
                min-height: 10rem;
            }
        }

        &__submit-btn {
            grid-column: 1 / -1;
            justify-self: center;

            outline: none;
            background-color: transparent;
            color: $primary-color;

            font-size: 1.8rem;

            border: 2px solid $primary-color;
            border-radius: 3rem;
            padding: 1.2rem 5rem;
            margin-top: 2rem;

            transition: all 0.3s;

            cursor: pointer;

            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
    }

    &__notification {
        padding-top: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        &__title {
            font-size: 4rem;
            font-family: "Montserrat Alternates", sans-serif;
        }

        &__sub-title {
            color: var(--title);
            font-size: 2rem;
            font-family: "Montserrat Alternates", sans-serif;
            font-weight: 300;
        }

        &__img {
            &--light,
            &--dark {
                height: 50rem;
            }

            &--dark {
                width: 60rem;

                @include mediaQuery($tablet) {
                    width: 90%;
                    height: 40rem;
                }

                @include mediaQuery($phone) {
                    height: 30rem;
                }
            }
        }
    }
}
