@import "variables";
@import "mediaQuery";

.about {
    &__biography {
        max-width: 1210px;
        margin: 0 auto;
        padding: 8rem;

        display: grid;
        grid-template-columns: min-content 1fr;
        gap: 8rem;

        @include mediaQuery($laptop) {
            align-items: center;
        }

        @include mediaQuery($tablet) {
            grid-template-columns: 1fr;
            padding: 5rem;
            margin-bottom: 3rem;
        }

        @include mediaQuery($phone) {
            padding: 3rem;
        }

        @include mediaQuery($phone-md) {
            padding: 2.5rem;
        }

        &__img-section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__img {
            border-radius: 50%;
            width: 25rem;
            height: 25rem;
            object-fit: cover;
            box-shadow: 0 0 0.4rem var(--shadow);

            &__caption {
                margin-top: 2rem;

                &__name {
                    font-size: 2.5rem;
                    font-weight: 500;
                }

                &__job {
                    color: var(--sub-title);
                    font-size: 1.8rem;
                    text-align: center;
                    font-family: "Montserrat Alternates", sans-serif;
                    margin-top: 0.5rem;
                }
            }
        }

        &__description {
            &__section {
                @include mediaQuery($tablet-xs) {
                    text-align: center;
                }

                &:not(:last-of-type) {
                    margin-bottom: 3.5rem;
                }
            }
            &__header {
                color: var(--title);
                font-size: 2.5rem;
                font-family: "Montserrat Alternates", sans-serif;
                margin-bottom: 1rem;
            }

            &__text {
                color: var(--sub-title);
                font-size: 1.8rem;
                line-height: 150%;
            }
        }

        &__general-info {
            display: flex;

            @include mediaQuery($phone-sm) {
                flex-direction: column;
            }

            &__others {
                display: flex;
                align-items: center;

                @include mediaQuery($phone) {
                    flex-direction: column;
                }

                &__icon {
                    font-size: 2rem;
                    margin-right: 0.6rem;
                    color: $primary-color;

                    flex-shrink: 0;

                    @include mediaQuery($tablet-xs) {
                        margin-right: 1rem;
                    }
                }

                &__text {
                    font-family: "Montserrat Alternates";
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-all;
                    word-break: break-word;

                    a {
                        &:link,
                        &:visited,
                        &:hover,
                        &:active {
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }

                &:last-of-type {
                    margin-left: 5rem;

                    @include mediaQuery($phone-sm) {
                        margin: 2rem 0;
                    }
                }
            }
        }
    }

    &__skills {
        // background-color: #1851d8;
        box-shadow: 0 -10px 10px var(--shadow);

        &__header {
            color: $primary-color;
            font-size: 4rem;
            font-family: "Montserrat Alternates", sans-serif;
            text-align: center;
            font-weight: 300;

            padding-top: 10rem;
        }
    }

    &__skills-grid {
        max-width: 85rem;
        padding: 4rem 0 2rem;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem 4rem;

        @include mediaQuery($phone) {
            grid-template-columns: 1fr;
            gap: 0;
        }

        &__skill {
            display: flex;
            flex-direction: column;
            align-items: center;

            color: $primary-color;

            @include mediaQuery($phone) {
                padding: 3rem;
            }

            &__icon {
                font-size: 5rem;
                margin-bottom: 1rem;
            }

            &__title {
                font-size: 2.5rem;
            }

            &__sub-title {
                text-align: center;
            }
        }
    }
}
