@import "variables";

.footer {
    background-color: $primary-color;
    color: white;
    text-align: center;

    margin-top: 10rem;
    padding: 1rem;

    &__logo {
        height: 10rem;
    }

    &__quote {
        font-size: 2rem;
        font-weight: 500;
        font-family: "Montserrat Alternates", sans-serif;

        margin-bottom: 3rem;
    }
}
