@import "variables";
@import "mediaQuery";

.footer {
    background-color: $primary-color;
    color: white;
    text-align: center;

    margin-top: 10rem;
    padding: 1rem;

    @include mediaQuery($phone) {
        margin-top: 5rem;
    }

    &__logo {
        height: 10rem;
    }

    &__quote {
        font-size: 2rem;
        font-weight: 500;
        font-family: "Montserrat Alternates", sans-serif;

        margin-bottom: 3rem;
    }
}
