@import "mediaQuery";
@import "typography";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;

    @include mediaQuery($phone-sm) {
        font-size: 55%;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;

    background-color: var(--background);
}

:root {
    --background: white;
    --card: rgb(50, 50, 50);
    --sub-title: rgb(85, 85, 85);
}

// set root as flex to put the footer at the bottom of screen when screen isn't scrollable
// ALWAYS remember to put the content as flex: 1;
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
