@import "mediaQuery";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;

    @include mediaQuery($phone-sm) {
        font-size: 55%;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

:root {
    --sub-title: rgb(85, 85, 85);
}
