@import "/src/scss/mediaQuery";
@import "/src/scss/typography";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;

    @include mediaQuery($phone) {
        font-size: 58%;
    }

    @include mediaQuery($phone-sm) {
        font-size: 53%;
    }

    @include mediaQuery($phone-xs) {
        font-size: 50%;
    }

    background-color: var(
        --background
    ); // to avoid white flash when loading page
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;

    background-color: var(--background);
    transition: background-color 0.2s;
}

// set root as flex to put the footer at the bottom of screen when screen isn't scrollable
// ALWAYS remember to put the content as flex: 1;
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// custom scroll-bar
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
