@import "/src/scss/variables";

.is-title {
    background-image: linear-gradient(to right, $blue, $violet);
    color: transparent;
    background-clip: text;
}

.btn {
    background-image: linear-gradient(to right, $blue, $violet);
    color: white;
    font-size: 1.9rem;

    border-radius: 1rem;

    transition: all 0.2s;

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:hover {
        background-image: linear-gradient(
            to right,
            darken($blue, 10%),
            darken($violet, 10%)
        );
    }

    &__unavailable {
        pointer-events: none;
        background-color: rgb(68, 68, 68) !important;
        background-image: none;
    }

    &__source {
        background-color: var(--primary-color) !important;
        background-image: none;
    }
}
